body {
  margin: 0px;
}

#loading-gif {
  top: 48%;
  left: 48%;
  position: absolute;
  z-index: 999;
}

/* Tooltip container */
#tooltip {
  position: relative;
  display: none;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
#tooltip #tooltiptext {
  display: none;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
#tooltip:hover #tooltiptext {
  display: block;
}

/*  BUTTON GROUP */
.btn-group {
  position:absolute;
  bottom:2%;
  right:2%;
}
.btn-group button {
  background-color: #004494; /* EU blue */
  border: 1px solid gray;
  color: white; 
  padding: 10px 24px; 
  cursor: pointer; 
  float: left; 
}

/* Clear floats (clearfix hack) */
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

.btn-group button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: #012f63;
}
