body {
  margin: 0px;
}

#loading-gif {
  top: 48%;
  left: 48%;
  position: absolute;
  z-index: 999;
}

/* Tooltip container */
#tooltip {
  position: relative;
  display: none;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
#tooltip #tooltiptext {
  display: none;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
#tooltip:hover #tooltiptext {
  display: block;
}

/*  BUTTON GROUP */
.btn-group {
  position: absolute;
  bottom: 2%;
  right: 2%;
}
.btn-group button {
  background-color: #004494; /* EU blue */
  border: 4px solid #004494;
  color: white;
  padding: 10px 24px;
  cursor: pointer;
  float: left;
}

.active {
  border: 4px solid white !important;
}

/* Clear floats (clearfix hack) */
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

.btn-group button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: #012f63;
}

#btn2km {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

#btn5km {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

/* LEGEND */
#legend {
  z-index: 99999999999999999;
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 12px;
  fill: white;
  height: 65px;
  width: 480px;
  padding-top: 5px;
}
/* legend cells */
rect.swatch {
  stroke: white;
  stroke-width: 0.5px;
}

.legendTitle {
  font-size: 15px;
}
