html,
body {
    height: 100%;
    margin: 0;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

#viz-container {
    height: 100%;
    width: 100%;
}

h2 {
    font-size: 21px;
    margin-bottom: 10px;
    color: #222;
}

.first-title {
    margin-top: 0px;
}

.panel {
    position: absolute;
    top: 60px;
    left: 10px;
    padding: 15px;
    background-color: #fff;
    font-size: 1em;
    color: #333;
    z-index: 1000;
    overflow: auto;
    border: solid 1px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    /* width: 320px; */
    max-height: 80vh;
    box-sizing: border-box;
    display: block; /* Initially shown */
}

.panel-item {
    display: flex;
    margin-bottom: 5px;
}

.radio-container {
    margin-right: 10px;
}

/* Ensure buttons and checkboxes are larger */
.radio-group input[type='radio'],
.checkbox-group input[type='checkbox'] {
    transform: scale(1.4); /* Make radio and checkboxes 1.5x larger */
    margin-right: 8px; /* Adjust margin to give space between the input and label */
}

.panel-toggle-btn {
    user-select: none; /* Prevent text selection on the toggle button */
    position: absolute;
    top: 10px;
    left: 10px;
    background: #ffffff;
    border: 0px solid #333;
    padding: 10px;
    border-radius: 0px;
    cursor: pointer;
    z-index: 1010;
    font-size: 20px;
    box-shadow: rgba(0, 47, 103, 0.08) 0px 7px 8px, rgba(0, 47, 103, 0.04) 0px 0px 22px,
        rgba(0, 47, 103, 0.04) 0px 12px 17px, rgba(0, 47, 103, 0.04) 0px -4px 4px;
}

.panel-toggle-btn:hover {
    background: #f0f0f0;
}

.gridviz-zoom-button {
    font-size: 24px !important;
}
#gridviz-zoom-buttons-viz-container {
    width: 35px !important;
}

/* Mobile specific changes */
@media (max-width: 600px) {
    .panel {
        width: 90%;
        max-width: 350px;
        max-height: 70vh;
        padding: 10px;
        font-size: 0.8em;
        overflow-y: auto;
    }

    .panel-toggle-btn {
        font-size: 24px;
    }

    .gridviz-zoom-button {
        font-size: 27px !important;
    }
    #gridviz-zoom-buttons-viz-container {
        width: 40px !important;
    }

    h2 {
        font-size: 18px;
    }

    /* Ensure buttons and checkboxes are larger */
    .radio-group input[type='radio'],
    .checkbox-group input[type='checkbox'] {
        transform: scale(2); /* Make radio and checkboxes 1.5x larger */
        margin-right: 8px; /* Adjust margin to give space between the input and label */
    }

    .radio-group label,
    .checkbox-group label {
        font-size: 1.2em; /* Increase font size for labels */
    }

    /* Ensure source text is centered and readable */
    .source {
        font-size: 1em; /* Make the source text a bit bigger */
        text-align: center;
    }

    .source a {
        font-size: 1.1em; /* Increase the font size of the source link */
        text-decoration: none; /* Optional: Remove underline */
        color: #007bff; /* Add a color for the link */
    }

    .source a:hover {
        text-decoration: underline; /* Add underline on hover for better UX */
    }
}

hr {
    border: none;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    margin: 10px 0;
}

.source {
    font-size: 0.8em;
    color: #555;
}

.source a {
    color: #007bff;
    text-decoration: none;
}

.source a:hover {
    text-decoration: underline;
}
