html,
body {
  width: 99% !important;
  height: 99% !important;
  margin: 0;
  background: #fff;
}
div {
  user-select: none;
}
canvas {
  border: 2px solid black;
}
#file-input:hover {
  cursor: pointer;
}
#csv-upload-form {
  width: 20%;
  margin: auto;
  float: left;
  top: 10%;
  left: 2%;
  position: absolute;
  color: white;
}
.fileinput-filename .fileinput-new {
  cursor: pointer;
}
#loading-gif {
  top: 48%;
  left: 48%;
  position: absolute;
  z-index: 999;
}
#main-title {
  margin: auto;
  float: left;
  top: 2%;
  left: 1%;
  position: absolute;
  color: white;
  font-family: sans-serif;
}
.no-margin {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}
#vertical-slider {
  margin: auto;
  float: left;
  top: 12%;
  right: 3%;
  position: absolute;
  color: white;
}

#cell-attribute {
  width: 20%;
  margin: auto;
  float: left;
  top: 10%;
  left: 2%;
  position: absolute;
  color: white;
}
