#viz-container{
    height:93vh!important;
    overflow:hidden;
    padding:0px;
}
#side-menu-title, nav.navbar.navbar-expand-lg.navbar-light.bg-light.border-bottom{
height:7vh;
}

.selected {
background-color:#d4d4d4!important;
color:black;
}
.list-group-item{
    cursor:pointer;
}
.list-group-item:hover{
    background-color:#d4d4d4!important;
}