#viz-container{
    height:90vh!important;
    overflow:hidden;
    padding:0px;
}
#side-menu-title{
height:4rem;
}
.selected {
background-color:#d4d4d4!important;
color:black;
}
.list-group-item{
    cursor:pointer;
}
.list-group-item:hover{
    background-color:#d4d4d4!important;
}