/* dropdowns  */
.gridviz-selectors {
    width: 15%;
    font-size:1rem;
    z-index: 9999;
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 8px;
  }
  .gridviz-dropdown {
    padding:8px;
    color: black;
  }
  .gridviz-dropdown select {
    direction: rtl;
  }
  .gridviz-dropdown option{
    direction: ltr;
  }
  .gridviz-dropdown-label {
    z-index: 9999;
    margin-right: 10px;
  }