@import "./tooltip.css";
@import "./loading.css";
@import "./legend.css";
@import "./gui/buttons.css";
@import "./gui/dropdowns.css";
@import "./mobile.css";

.gridviz-plugin, .gridviz-icon-button, #gridviz-tooltip {
  opacity:0.9;
}

.gridviz-container {
  /* height:auto; */
   overflow:hidden;
  position: relative;
  margin: 0px; 
  font-family: sans-serif;
}
.gridviz-headings-container {
  z-index:999999;
  position:absolute;
  top:10px;
  left:10px;
  padding:15px;
}
.gridviz-title {
  font-size: 1.2rem;
  font-weight:bold;
}
.gridviz-subtitle {
  font-size: 0.8rem;
  color: grey;
  font-weight:normal;
  margin-top:5px;
}
#gridviz-cellcount {
  font-size: 0.8rem;
  font-weight:normal;
  color: grey;
  margin-top:10px;
}
.gridviz-sources {
 position:absolute; 
  bottom:1%;
  right:1%;
  font-size: 0.8rem;
  font-weight:bold;
  color:white;
}
.gridviz-sources a{
  color:white;
}
.gridviz-sources a:hover{
  color:lightblue !important;
  cursor:pointer;
}

.gridviz-plugin {
  background-color: #fff;
  border-radius: .25rem;
  color: black;
  fill: black;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);;
-moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);;
box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);;
}
.gridviz-select{
  width:100%;
}


/* Placenames  */
.gridviz-placename {
  z-index: 9;
  color: #fff;
  font-family: sans-serif;
  padding: 2px;
  background: rgba(0, 0, 0, 0.6);
}





