/* mobile devices */
@media screen and (max-width: 500px) {
    #estat-logo-container {
        display: none;
    }

    #estat-ribbon-container {
        display: none;
    }

    #gridviz-legend {
        bottom: 5px !important;
        top: unset !important;
        left: 5px;
    }

    #gridviz-title-container {
        max-width: 100%;
        font-size: 1rem;
        top: 0;
        left: 0;
        padding: 10px;
    }

    #gridviz-zoom-btns {
        top: 90px;
        left: 10px;
        right: unset;
        bottom: unset !important;
    }

    .gridviz-zoom-button {
    }

    #gridviz-attribution {
        display: none;
    }
}
