.gridviz-container {
  position: relative !important;
  margin: 0px;
  font-family: "roboto_condensedbold", Arial, sans-serif;
}
.gridviz-title {
  position:absolute;
  top:2%;
  left:2%;
  font-size: 38px;
  font-weight:bold;
  color:white;
}
.gridviz-sources {
  position:absolute;
  bottom:2%;
  right:1%;
  font-size: 12px;
  font-weight:bold;
  color:white;
}
.gridviz-sources a{
  color:white;
}
.gridviz-sources a:hover{
  color:lightblue;
  cursor:pointer;
}

#loading-gif {
  top: 48%;
  left: 48%;
  position: absolute;
  z-index: 999;
}

/* Tooltip container */
#tooltip {
  position: relative;
  display: none;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
#tooltip #tooltiptext {
  display: none;
  /* width: 120px; */
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
#tooltip:hover #tooltiptext {
  display: block;
}

.gridviz-plugin {
  background-color: #efefef;
  color: black;
  fill: black;
  /* border: 2px solid #888888; */
  border-radius: 1px;
}

/*  BUTTON GROUP */
.gridviz-btn-group {
  position: absolute;
  bottom: 2%;
  right: 2%;
}
.gridviz-btn-group button {
  /* EU blue */
  padding: 10px 24px;
  cursor: pointer;
  float: left;
}

.gridviz-active {
  background-color: #efefef !important;
}

.gridviz-button {
  background-color: #5a5a5a;
}

/* Clear floats (clearfix hack) */
.gridviz-btn-group:after {
  content: "";
  clear: both;
  display: table;
}

.gridviz-btn-group button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

/* Add a background color on hover */
.gridviz-btn-group button:hover {
  background-color: #345881;
}

/* LEGEND */
#gridviz-legend {
  z-index: 9999;
  position: absolute;
  bottom: 10px;
  left: 10px;
  /* font-size: 12px; */
  opacity:0.8;
}
.gridviz-legend-horizontal {
  height: 65px;
  width: 441px;
  padding-top: 5px;
}
.gridviz-legend-vertical {
  height: 321px;
  width: 140px;
  padding-top: 5px;
}
/* legend cells */
rect.swatch {
  stroke: white;
  stroke-width: 0.5px;
}

/* Placenames  */
.gridviz-placename {
  z-index: 9;
  color: #fff;
  font-family: sans-serif;
  padding: 2px;
  background: rgba(0, 0, 0, 0.6);
}

/* dropdowns  */
.gridviz-selectors {
  z-index: 9999;
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 8px;
}
.gridviz-dropdown {
  padding:8px;
  background-color: #efefef;
  color: black;
}
/* #gridviz-colorscheme-dropdown-container {
  z-index: 9999;
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 8px;
}
#gridviz-colorfield-dropdown-container {
  z-index: 9999;
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 8px;
}
#gridviz-sizefield-dropdown-container {
  z-index: 9999;
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 8px;
} */
.gridviz-dropdown-label {
  z-index: 9999;
  margin-right: 10px;
}

/* LOADING SPINNER */
#gridviz-loading-spinner {
  position: absolute;
  top: 47%;
  left: 47%;
}
.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* loading spinners  */
.lds-ripple {
  display: inline-block;
  position: absolute;
  width: 80px;
  height: 80px;
  top: 45%;
  left: 42.5%;
}
.lds-ripple.hide {
  display:none;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #ffffff;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #fff;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

